body   
{  
height: 125vh;  
margin-top: 80px;  
padding: 30px;  
background-size: cover;  
font-family: sans-serif;  
}  
header {  
background-color: greenyellow;  
position: fixed;  
left: 0;  
right: 0;  
top: 5px;  
height: 30px;  
display: flex;  
align-items: center;  
box-shadow: 0 0 25px 0 black;  
}  
header * {  
display: inline;  
}  
header li {  
margin: 20px;  
}  
header li a {  
color: blue;  
text-decoration: none;  
} 
header button {
    display: inline-block;
    padding: 5px 25px;
    font-size: 12px;
    text-align: center;
    background-color: blueviolet;
    box-shadow: 0 4px 3px gray;
    text-decoration: none;
    border: none;
}
body {
    background-color: antiquewhite;
    color: goldenrod;
}
body button {
    display: inline-block;
    padding: 5px 25px;
    font-size: 12px;
    text-align: center;
    background-color: blueviolet;
    box-shadow: 0 4px 3px gray;
    text-decoration: none;
    border: none;
}
.photo {
    display: block;
}
.photo ul {
    list-style: none;
}
.photo ul li {
    display: inline;
    list-style: none;

}